* {
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #C0C0C0;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333333;
    text-align: center;
}

.navBar {
    background-color: #333333;
    display: flex;
    height: 50px;
    justify-content: center;

}

.navBarLogo {
    height: 40px;
    width: 40px;
}