* {
    margin: 0;
    padding: 0;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #C0C0C0;
}

.navBar {
    background-color: rgb(42, 42, 42);
    position: fixed;
    width: 100%;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.navBar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navBar-links li {
    margin: 15px;
}

.navBar-links li a {
    text-decoration: none;
}

.navBarLogo {
    height: 40px;
    width: 40px;
}


/* obsah stránky */

.divContainer {
    display: flex;
}

.upperDiv {
    background-color: black;
<<<<<<< HEAD
    height: 400px;
=======
    height: 60vh;
>>>>>>> a5af00ab1dc81e13cdba6400ffc689dfb995eaa6
    display: flex;
    justify-content: space-around;
    width:100%;
}

.upperDivPhotoImg {
    margin-right: 80px;
    height: 300px;
    width: 300px;
    margin-top: 40px;
}

.upperDivText {
    margin-top: 70px;
    margin-left: 80px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333333;
    color: #C0C0C0;
    text-align: center;
}
